body {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    padding: 0;
    margin: 0;
}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background: transparent;
    height: 60px;
    padding-top: 15px;
    z-index: 100;
    box-sizing: border-box;
    position: relative;
}

header .nav-link {
    padding: 0;
    margin: 0 10px;
    color: #272727;
}
header .nav2{
    position: fixed;
    right: 0 ;
    box-sizing: border-box;
}
header .nav2 a{
    display: inline-block;
    padding: 7px 15px ;
    box-sizing: border-box;
}
.nop{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    transition: 1s;
    padding: 20px 40px;
    padding-bottom: 60px;

}

.logo {
    position: relative;
    top: 3px;
    margin: 0 !important;
    font-size: 40px;
    font-weight: 500;
    color: #272727;
    position: fixed;
}

.logo::after {
    content: "__";
    position: absolute;
    /* height: 1px; */
    /* width: 20px; */
    /* background-color: #272727; */
    /* bottom: 1px; */
    top: 9px;
    left: 3px !important;
}
header.black.logo:after{
    color: whitesmoke;
}

a:link,
a:visited {
    text-decoration: none;
}




/* product list */

.prod {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    text-align: center;
    row-gap: 50px;
    color: rgba(255, 255, 255, 0);
}

.p1 img {
    width: 50%;
    transition: all .3s ease;
}

.ymx img {
    width: 50%;
    transition: all .3s ease;
}

.p1 h3 {
    position: relative;
    transition: all .3s ease;
    left: 50px;
}

.p1:hover>h3 {
    left: 0;
    color: #272727;
}


.p1 h4,
p {
    position: relative;
    transition: all .3s ease;
    right: 50px;
}

.p1:hover h4,
.p1:hover p {
    right: 0;
    color: #272727;
}

.product div:hover p {
    color: #464649b7;
}

.p1 {
    position: relative;
}

.p1 .btm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.p1:hover .btm {
    opacity: 1;
}









/* detail */
.produk {
    position: relative;
    top: 150px;
}

#detail-images .carousel {
    position: relative !important;
}

#detail-images .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images .carousel-indicators li.active {
    background-color: #000;
}

#detail-images .carousel-item img {
    /* width: auto !important; */
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images .carousel-indicators {
    right: auto;
    bottom: auto;
    left: 0;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.capt {
    top: 100px;
}

.djudul {
    position: relative;
    left: 200px;
    box-sizing: border-box;
}

.djudul h1 {
    font-size: 70px;
    font-weight: 600;
}

.djudul h1:nth-child(2) {
    color: #bababa;
    font-weight: 500;
    /* margin-bottom: 1px; */
}

.djudul h5 {
    padding: 30px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.djudul p {
    padding: 30px 0;
    word-spacing: 3px;
    font-size: 15px;
    left: 0;
    color: #bababa;
}


/* carosel-kecil */
/* kapasitas */
.capacity {
    position: relative;
    top: 400px;
    left: 300px;
    width: 80%;
}

.capacity h5 {
    padding: 50px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.capacity h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
}

.capacity h1 span {
    font-size: 13px;
    margin-left: -15px;
}

#detail-images-kc .carousel {
    position: relative !important;
}

#detail-images-kc .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images-kc .carousel-indicators li.active {
    background-color: #000;
}

#detail-images-kc .carousel-item img {
    /* width: auto !important; */
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images-kc .carousel-indicators {
    right: 0;
    bottom: auto;
    left: 110%;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}


/* Lebar */
.weight h5 {
    padding: 30px 0 30px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.weight h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
}

.weight h1 span {
    font-size: 13px;
    margin-top: 50px;
    position: absolute;
}

.weight {
    position: relative;
    left: 150px;
    width: 75%;
}

#detail-images-kcs .carousel {
    position: relative !important;
}

#detail-images-kcs .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images-kcs .carousel-indicators li.active {
    background-color: #000;
}

#detail-images-kcs .carousel-item img {
    /* width: auto !important; */
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images-kcs .carousel-indicators {
    right: 0;
    bottom: auto;
    left: 110%;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}



/* fitur detail */
.sectiontwo {
    height: 100vh;
    overflow: hidden;
}

.bgro {
    position: relative;
    top: 40px;
    left: 30px;
}

.prodetail {
    position: relative;
    top: 200px;
    left: 100px;
}

.fture h5 {
    padding-bottom: 30px;
    left: 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.fture p {
    font-size: 15px;
    font-weight: 400;
    color: #bababa;
    left: 0;
}


.lnght h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.lnght h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
    padding-bottom: 30px;
}

.lnght span{
    position: relative;
    font-size: 13px;
    margin-left: -10px;
}

.tcom h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.tcom p {
    font-size: 15px;
    font-weight: 400;
    color: #bababa;
    left: 0;
}


/* hyperesponsivegrid */
.sectiontwo .har {
    top: 390px;
    left: 10px;
}

.sectiontwo .har h5 {
    font-size: 14px;

    padding-bottom: 30px;
}

.feed {
    /* padding-top: 20px; */
    z-index: -70;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 15px;
    border-left: solid 1px rgb(221, 221, 221);
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 0px 13px 29px -21px;
    cursor: pointer;
    transform: scale(1);
}

.card:nth-child(1) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m1.jpg');
            
}

.card:nth-child(2) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m2.jpg')
}

.card:nth-child(3) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m3.jpg')
}

.card:nth-child(4) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m4.jpg')
}

.card:nth-child(2),
.card:nth-child(3) {
    grid-column-start: span 3;
}



/* you may alsolike */
.sectiontri {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.sectiontri h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
}

.sectiontri .p1 {
    padding: 50px 0;

}












/* Bottom */
.bottomm {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px rgba(221, 221, 221, 0.349);
    z-index: 34;
    background: #fff;
    font-size: 14px;
}

.bt1,
.bt2,
.bt3 {
    border-right: solid 1px rgb(180, 178, 178);
    display: flex;
    justify-content: center;
}

.bt1 h3,
.bt2 h3,
.bt3 h3,
.bt4 h3 {
    padding: 30px 0;
}

.bt4 h3 {
    text-decoration: none;
    color: white;
    font-size: 23px;
}


.bottomm .mmm .bt2 a {
    margin: 0 25px;
    position: relative;
    margin: auto;
}
.bottomm .mmm h3{
    font-size: 20px;
}
.bottomm .mmm .bt1 h3{
    margin-left: 30px;
    font-size: 25px;
}

.qw i{
    padding: 30px 0;
}









/* footer */

.footer {

    background: #212529;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    color: #FFF;
    margin: 0;
    padding: 0;

}

.footer .cf {
    position: relative;
    box-sizing: border-box;
    display: wrap;
    top: 20%;
}

hr {
    height: 1px;
    clear: both;
    background: #DDD;
    opacity: .3;
}

.atass {
    margin: 0 50px;
}

.footer .atass ul {
    display: flex;
    text-align: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: 50px auto;
}

.footer .atass li {
    font-size: 13px;
    margin: 20px 20px;
    padding: 0 80px;
    border-right: solid 1px rgba(221, 221, 221, 0.37);
}

.footer .atass li:last-child {
    border-right: none;
}

.footer .atass li i {
    font-size: 45px;
    margin-bottom: 30px;
}

.footer .atass li p {
    right: 0;
}





.footer .information {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    box-sizing: border-box;
}

.footer .information a {
    position: relative;
    display: block;
    right: 250px;
    font-size: 13px;
    color: #FFF;
}



.footer .follownews {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 50px auto;
}

.follownews .followus {
    display: flex;
}

.follownews .followus li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
}

.followus li a {
    color: #DDD;
}

.follownews .newsletter {
    display: flex;
    box-sizing: border-box;
    margin-right: 80px;
}

.form-group {
    margin-left: 30px;
}

.newsletter .form-control {
    margin-bottom: 10px;
    width: 270px;
}

.newsletter .form-control,
.newsletter button {
    height: 27px;
    font-size: 12px;
}


.lastfooter {
    color: #DDD;
    display: flex;
    justify-content: space-between;
}










/* js */
header.black .nop {
    background: #212529;
}
header.black .nav-link{
    color: whitesmoke;
}

