body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    margin: 0;

}

header {
    top: 0;
    width: 100%;
    position: fixed;
    background: transparent;
    height: 30px;
    padding-top: 1px;
    z-index: 100;
    box-sizing: border-box;
    position: relative;
    overflow: hidden !important;

}

.container-fluid {
    overflow: hidden;
}

header .nav-link {
    padding: 0;
    margin: 0 10px;
    color: #FFF;

}

header .nav2 {
    position: fixed;
    right: 0;
    box-sizing: border-box;

}

header .nav2 a {
    display: inline-block;
    padding: 7px 15px;
    box-sizing: border-box;

}

.nop {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    transition: 1s;
    padding: 20px 40px;
    padding-bottom: 50px;
    overflow: hidden;
}

.logo {
    position: relative;
    top: 7px;
    margin: 0 !important;
    font-size: 30px;
    font-weight: 500;
    color: #272727;
    position: fixed;
}

.logo::after {
    content: "__";
    position: absolute;
    /* height: 1px; */
    /* width: 20px; */
    /* background-color: #272727; */
    /* bottom: 1px; */
    top: 9px;
    left: 3px !important;

}

header.black.logo:after {
    color: whitesmoke;
}

a:link,
a:visited {
    text-decoration: none;
}


/* section Banner */
.sectionbenner {
    box-sizing: border-box;
    position: relative;
    top: -70px;
    overflow: hidden !important;
}

.benner {
    position: relative;
    height: 100vh;
}

.benner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

.benner>div {
    padding: 0;
}

.benner .first {
    position: relative;
    height: 100vh;
    width: 70vw;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 2;
    display: flex;
}


.benner .first,
.benner .second,
.benner .third {
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: #FFF;

}

.wrap {
    padding: 20px 40px;
}

.wrap h5 {
    font-size: 14px;
}

.first .wrap h1 {
    font-size: 59px;
    font-weight: 700;
    line-height: 77px;
    margin-top: -13px;
    margin-bottom: 19px;
}

.wrap button {
    font-size: 13px;
    font-weight: 700;
    height: 42px;
    padding: 9px 40px 9px 40px;

}

.inprice {
    display: flex;
    justify-content: space-between;
}

.inprice p:nth-child(1) {
    color: rgba(83, 81, 81, 0.801);
}

.third>h5 {
    position: absolute;
    top: 30px;
    z-index: 3;
    font-size: 15px;
    font-weight: 700;
}

.benner .second {
    position: absolute;
    top: 0;
    width: 30vw;
    right: 0;
    height: 50vh;

}

.second .wrap {
    padding: 20px 40px;
}

.second .wrap h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.second .wrap h5 {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
}

.benner .second a {
    position: absolute;
    color: #FFF;
    bottom: 10px;
    text-decoration: none;
    font-size: 14px;
}

.benner .third {
    position: absolute;
    width: 30vw;
    height: 50vh;
    right: 0;
    height: 50vh;
    color: #222;
    max-width: 100%;
    bottom: 0;
    padding: 20px 40px;

}


.carousel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

}

.carousel-inner {
    height: 50vh;
}

.napo .carousel-inner .carousel-item {
    width: 100%;
    height: 100%;
}

.napo .carousel-item img {
    width: 200px !important;
    height: 200px !important;
    left: unset;
    right: 30px;
    top: 45%;
    transform: translateY(-50%);


}

.napo .carousel-caption {
    color: black;
    text-align: left;
    right: 15px;
    bottom: 10px;
    left: 15px;
    padding: 20px 40px;
    font-size: 17px;
    line-height: 3px;
}

.carousel-caption .inprice,
.carousel-control-prev {
    left: 25px;
}

.carousel-caption .inprice {
    position: relative;
    box-sizing: border-box;
    left: 50px;

}

.carousel-control-next {
    right: 15px;
}

.carousel-control-prev,
.carousel-control-next {
    top: 24vh;
    height: 30px;
    width: 30px;
    background: #33333380;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-size: 80%;
}

/* sample discount */
.carousel-item .discount {
    position: absolute;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    background-color: #0000FF;
    z-index: 1000;
    top: 110px;
    right: 150px;
    font-size: 1.3em;
    font-weight: 700;
    color: #FFF;
}

.carousel-item .discount p {
    left: 15px;
    top: 25px;
}



/* about */
.about .row>div {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: unset;
}

.about .row>div::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    background: #CCC;
    height: 100vh;
    z-index: 9;
}

.about .row>div:nth-child(1)::after {
    width: 0;
}

.about .wrap {
    width: 90%;
}

.about .wrap p {
    left: 0px;
    margin-bottom: 50px;
}

.about h1 {
    font-size: 50px;
    font-weight: 700;
    z-index: 2;
    position: relative;
    transition: all 0.3s linear;

}

.about h1 small {
    font-size: 20px;
    font-weight: 700;
    top: -5px;
    right: -30px;
    position: absolute;
}

/* icon about */




/* style */
.about .row>div:hover>img,
.about .row>div:hover i {
    opacity: 1;
}

.about .row img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all .3s linear;
}

.travel:hover+.works::after,
.works:hover::after,
.bike:hover::after,
.photo:hover::after,
.music:hover::after,
.accessoris:hover::after {
    width: 0 !important;
}

.about a,
.about a:link,
.about a:visited {
    color: #000;
    text-decoration: none;
}

.about .row>div:hover:not(.col-6) a {
    color: #FFF
}

.about .row>div:hover:not(.col-6):before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #061d68af;
    content: " ";
    z-index: 2;
}

.works img,
.photo img,
.music img,
.bike img,
.accessoris img {
    left: unset !important;
    right: 0;
}

.about .row>div.col-6 {
    z-index: 4;
    background: #FFF;
}

.bike {
    z-index: 3;
    background: #FFF;
}

.photo {
    z-index: 5;
    background: #FFF;
}

.music {
    z-index: 7;
    background: #FFF;
}

.accessoris {
    z-index: 9;
    background: #FFF;
}




.travel:hover:after {
    width: 0 !important;
}


/* Animation */
.travel img {
    left: -50px !important;
}

.travel:hover>img {
    left: 0 !important;
}


.works img,
.photo img,
.music img,
.bike img,
.accessoris img {
    right: -50px !important;
}

.works:hover>img,
.photo:hover>img,
.music:hover>img,
.bike:hover img,
.accessoris:hover img {
    right: 0 !important;
}
















/* footer */

.footer {

    background: #212529;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    color: #FFF;
    margin: 0;
    padding: 0;

}

.footer .cf {
    position: relative;
    box-sizing: border-box;
    display: wrap;
    top: 20%;
}

hr {
    height: 1px;
    clear: both;
    background: #DDD;
    opacity: .3;
    width: 95%;
}

.atass {
    margin: 0 50px;
}

.footer .atass ul {
    display: flex;
    text-align: center;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    margin: 50px auto;
}

.footer .atass li {
    font-size: 13px;
    margin: 20px 20px;
    padding: 0 80px;
    border-right: solid 1px rgba(221, 221, 221, 0.37);
}

.footer .atass li:last-child {
    border-right: none;
}

.footer .atass li i {
    font-size: 45px;
    margin-bottom: 30px;
}

.footer .atass li p {
    right: 0;
}





.footer .information {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    box-sizing: border-box;
}

.footer .information h3 {
    position: relative;
    margin-left: 30px;
}

.footer .information a {
    position: relative;
    display: block;
    right: 250px;
    font-size: 13px;
    color: #FFF;
}



.footer .follownews {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 50px auto;
}

.footer .follownews h3 {
    position: relative;
    margin-left: 30px;
}

.follownews .followus {
    display: flex;
}

.follownews .followus li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
}

.followus li a {
    color: #DDD;
}

.follownews .newsletter {
    display: flex;
    box-sizing: border-box;
    margin-right: 80px;
}

.form-group {
    margin-left: 30px;
}

.newsletter .form-control {
    margin-bottom: 10px;
    width: 270px;
}

.newsletter .form-control,
.newsletter button {
    height: 27px;
    font-size: 12px;
}


.lastfooter {
    color: #DDD;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}







/* Shop Page */

/* product list */



#grid {
    height: 100%;
    box-sizing: border-box !important;
    overflow: hidden;

}

.product {
    height: 100%;
    margin-top: 21vh;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));

    position: relative;
    text-align: center;
    row-gap: 50px;
    color: rgba(255, 255, 255, 0);
    /* overflow: hidden; */
    box-sizing: border-box !important;

}

.p1 {
    border-right: solid 1.5px;
    border-image:
        linear-gradient(to bottom,
            rgb(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0)) 1 100%;
}

.p1:nth-child(5),
.p1:nth-child(10) {
    border-right: none;
}

.p1 img {
    width: 60%;
    transition: all .3s ease;
}

.p1 h3 {
    position: relative;
    transition: all .3s ease;
    left: 50px;
}

.p1:hover>h3 {
    left: 0;
    color: #272727;
}


.p1 h4,
p {
    position: relative;
    transition: all .3s ease;
    right: 50px;
}

.p1:hover h4,
.p1:hover p {
    right: 0;
    color: #272727;
}

.product div:hover p {
    color: #464649b7;
}

.p1 {
    position: relative;
}

.p1 .btm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.p1:hover .btm {
    opacity: 1;
}




/* js */
header.black .nop {
    background: #212529;

}

header.black .nav-link {
    color: whitesmoke;
}






/* Detail page css */
/* product list */

.prod {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    text-align: center;
    row-gap: 50px;
    color: rgba(255, 255, 255, 0);
}

.p1 img {
    width: 50%;
    transition: all .3s ease;
}

.ymx img {
    width: 50%;
    transition: all .3s ease;
}

.p1 h3 {
    position: relative;
    transition: all .3s ease;
    left: 50px;
}

.p1:hover>h3 {
    left: 0;
    color: #272727;
}


.p1 h4,
p {
    position: relative;
    transition: all .3s ease;
    right: 50px;
}

.p1:hover h4,
.p1:hover p {
    right: 0;
    color: #272727;
}

.product div:hover p {
    color: #464649b7;
}

.p1 {
    position: relative;
}

.p1 .btm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.p1:hover .btm {
    opacity: 1;
}


/* detail */
.produk {
    position: relative;
    top: 150px;
}

.detsec {
    left: 100px;
}

.novi {
    height: 104%;
    bottom: 60px;
}

.novi .carousel-item img {
    margin-top: -150px;
}

.detsec #detail-images .carousel {
    position: relative !important;
}

.detsec #detail-images .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

.detsec #detail-images .carousel-indicators li.active {
    background-color: #000;
}

.detsec #detail-images .carousel-item img {
    position: relative;

    /* width: auto !important; */
    /* height: ; */
    left: auto;
    right: auto;
    top: auto;
    /* transform: translateY(0); */
    margin: 0 auto;
}

.detsec #detail-images .carousel-indicators {
    right: auto;
    bottom: auto;
    left: auto;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

.capt {
    top: 100px;
}

.djudul {
    position: relative;
    left: 200px;
    box-sizing: border-box;
}

.djudul h1 {
    font-size: 70px;
    font-weight: 600;
}

.djudul h1:nth-child(2) {
    color: #bababa;
    font-weight: 500;
    /* margin-bottom: 1px; */
}

.djudul h5 {
    padding: 30px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.djudul p {
    padding: 30px 0;
    word-spacing: 3px;
    font-size: 15px;
    left: 0;
    color: #bababa;
}





/* carosel-kecil */
/* kapasitas */
.capacity {
    position: relative;
    top: 400px;
    left: 300px;
    width: 80%;
}

.capacity h5 {
    padding: 50px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.capacity h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
}

.capacity h1 span {
    font-size: 13px;
    margin-left: -15px;
}

#detail-images-kc .carousel {
    position: relative !important;
}

#detail-images-kc .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images-kc .carousel-indicators li.active {
    background-color: #000;
}

#detail-images-kc .carousel-item img {
    /* width: auto !important; */
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images-kc .carousel-indicators {
    right: 0;
    bottom: auto;
    left: 110%;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}


/* Lebar */
.weight h5 {
    padding: 30px 0 30px 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;
}

.weight h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
    position: relative;
    box-sizing: border-box;
}

.weight h1 span {
    font-size: 13px;
    margin-top: 50px;
    position: absolute;
}

.weight {
    position: relative;
    left: 150px;
    width: 75%;
}

#detail-images-kcs .carousel {
    position: relative !important;
}

#detail-images-kcs .carousel-indicators li {
    background-color: transparent;
    width: 13px;
    height: 13px;
    border-radius: 10px !important;
    margin: 5px 0;
    border: solid 1px #000;
}

#detail-images-kcs .carousel-indicators li.active {
    background-color: #000;
}

#detail-images-kcs .carousel-item img {
    /* width: auto !important; */
    height: 100% !important;
    left: auto;
    right: auto;
    top: auto;
    transform: translateY(0);
    margin: 0 auto;
}

#detail-images-kcs .carousel-indicators {
    right: 0;
    bottom: auto;
    left: 110%;
    flex-direction: column;
    padding-left: 0;
    border-radius: 20px !important;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}


/* fitur detail */
.sectiontwo {
    height: 100vh;
    overflow: hidden;
}

.bgro {
    position: relative;
    top: 40px;
    left: 30px;
}

.prodetail {
    position: relative;
    top: 200px;
    left: 100px;
}

.fture h5 {
    padding-bottom: 30px;
    left: 0;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.fture p {
    font-size: 15px;
    font-weight: 400;
    color: #bababa;
    left: 0;
}


.lnght h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.lnght h1 {
    font-size: 70px;
    color: #bababa;
    font-weight: 500;
    padding-bottom: 30px;
}

.lnght span {
    position: relative;
    font-size: 13px;
    margin-left: -10px;
}

.tcom h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
    font-size: 14px;

}

.tcom p {
    font-size: 15px;
    font-weight: 400;
    color: #bababa;
    left: 0;
}



/* hyperesponsivegrid */
.sectiontwo .har {
    top: 390px;
    left: 10px;
}

.sectiontwo .har h5 {
    font-size: 14px;

    padding-bottom: 30px;
}

.feed {
    /* padding-top: 20px; */
    z-index: -70;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    grid-gap: 15px;
    border-left: solid 1px rgb(221, 221, 221);
}

.card {
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: all .3s ease;
}

.card:hover {
    box-shadow: 0px 13px 29px -21px;
    cursor: pointer;
    transform: scale(1);
}

.card:nth-child(1) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m1.jpg');

}

.card:nth-child(2) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m2.jpg')
}

.card:nth-child(3) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m3.jpg')
}

.card:nth-child(4) {
    background-image: linear-gradient(to bottom,
            rgba(10, 10, 10, 0) 0%,
            rgba(10, 10, 10, 0) 50%,
            rgba(10, 10, 10, 0.7) 100%), url('/maximage/m4.jpg')
}

.card:nth-child(2),
.card:nth-child(3) {
    grid-column-start: span 3;
}

/* you may alsolike */
.sectiontri {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.sectiontri h5 {
    padding-bottom: 30px;
    border-bottom: solid 1px rgb(221, 221, 221);
}

.sectiontri .p1 {
    padding: 50px 0;

}


/* Bottom */
.bottomm {
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px rgba(221, 221, 221, 0.349);
    z-index: 34;
    background: #fff;
    font-size: 14px;
}

.bt1,
.bt2,
.bt3 {
    border-right: solid 1px rgb(180, 178, 178);
    display: flex;
    justify-content: center;
}

.bt1 h3,
.bt2 h3,
.bt3 h3,
.bt4 h3 {
    padding: 30px 0;
}

.bt4 h3 {
    text-decoration: none;
    color: white;
    font-size: 23px;
}


.bottomm .mmm .bt2 a {
    margin: 0 25px;
    position: relative;
    margin: auto;
}

.bottomm .mmm h3 {
    font-size: 20px;
}

.bottomm .mmm .bt1 h3 {
    margin-left: 30px;
    font-size: 25px;
}

.qw i {
    padding: 30px 0;
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {




    .napo .carousel-item img {
        width: 100px !important;
        height: 150px !important;
        left: unset;
        right: 30px;
        top: 45%;
        transform: translateY(-50%);
    }

    .napo .carousel-caption {
        color: black;
        text-align: left;
        right: 15px;
        bottom: 1px;
        left: 15px;
        padding: 20px 40px;
        font-size: 9px;
        line-height: 20px;
    }

    .napo h3 {
        font-size: 1.3em;
    }

    .carousel-caption .inprice,
    .carousel-control-prev {
        left: 25px;
    }

    .carousel-caption .inprice {
        position: relative;
        box-sizing: border-box;
        left: 50px;

    }

    .carousel-control-next {
        right: 15px;
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: 24vh;
        height: 15px;
        width: 15px;
        background: #33333380;
    }

    .carousel-item .discount {
        position: absolute;
        box-sizing: border-box;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        background-color: #0000FF;
        z-index: 1000;
        top: 83px;
        right: 90px;
        font-size: .9em;
        font-weight: 500;
        color: #FFF;
    }

    .carousel-item .discount p {
        left: 5px;
        top: 10px;
    }



    .about h1 {
        font-size: 25px;
        font-weight: 700;
        z-index: 2;
        position: relative;
        transition: all 0.3s linear;

    }

    .about h1 small {
        font-size: 13px;
        font-weight: 700;
        top: -5px;
        right: -30px;
        position: absolute;
    }

    .about .row img {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        z-index: 12;
        opacity: -30;
        transition: all .3s linear;
    }




    /* footer */
    .footer {
        background: #212529;
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        color: #FFF;
        margin: 0;
        padding: 0;
    }

    .footer .atass li {
        font-size: 11px;
        margin: 10px 1px;
        padding: 0 15px;
        border-right: solid 1px rgba(221, 221, 221, 0.37);
    }

    .footer .atass li i {
        font-size: 31px;
        margin-bottom: 30px;
    }

    .footer .information h3 {
        position: relative;
        margin-left: 30px;
        font-size: 17px;
    }

    .footer .information a {
        position: relative;
        display: block;
        right: 70px;
        font-size: 11px;
        color: #FFF;
    }

    .footer .follownews h3 {
        position: relative;
        margin-left: 30px;
        font-size: 17px;
    }

    .follownews .followus li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
        font-size: 23px;
    }

    .newsletter .form-control {
        margin-bottom: 10px;
        width: 190px;
    }








    /* detail */

    .novi {
        height: 100%;
        bottom: 0px;
        box-sizing: border-box;
    }

    .detsec #detail-images .carousel-indicators li {
        background-color: transparent;
        width: 9px;
        height: 9px;
        border-radius: 10px !important;
        margin: 5px 0;
        border: solid 1px #000;
        position: relative;
        box-sizing: border-box;
        /* bottom: 360px; */
        bottom: 90px;
    }

    .capt {
        top: 17px;
    }

    .djudul {
        position: relative;
        left: 113px;
        box-sizing: border-box;
    }

    .djudul h1 {
        font-size: 50px;
        font-weight: 600;
        width: 130%;
    }

    .djudul h5 {
        /* margin-top: 70%; */
        padding: 33px 0;
        /* padding-top: 70px; */
        border-bottom: solid 1px rgb(221, 221, 221);
        font-size: 14px;
        right: 2px;
        position: relative;
    }

    .djudul p {
        padding: 30px 0;
        padding-top: 0;
        word-spacing: 3px;
        font-size: 12px;
        /* left: -300px; */
        color: #bababa;
        width: 170%;
        text-align: justify;
    }

    .capacity {
        position: relative;
        box-sizing: border-box;
        /* top: 900px; */
        left: 100px;
        width: 100%;
        display: none;
    }

    .weight {
        display: none;
    }

    /* feature detail */
    .bgro {
        position: relative;
        top: 10px;
        left: 0;
    }

    .prodetail {
        position: relative;
        top: 197px;
        left: 50px;
    }

    .fture p {
        font-size: 13px;
        font-weight: 400;
        color: #bababa;
        left: 0;
    }

    .lnght h1 {
        font-size: 70px;
        color: #bababa;
        font-weight: 500;
        /* padding-bottom: 30px; */
        margin-bottom: -100px;
    }

    .lnght span {
        position: relative;
        font-size: 13px;
        margin-left: 87px;
        bottom: 85px;
    }

    .tcom h5 {
        padding-bottom: 15px;
        border-bottom: solid 1px rgb(221, 221, 221);
        font-size: 14px;
        text-align: right;

    }

    .tcom p {
        font-size: 12px;
        font-weight: 400;
        color: #bababa;
        left: 0;
        text-align: right;
    }

    .sectiontwo .har {
        top: 159px;
        left: 10px;
    }

    /* Bottom */
    .bottomm {
        font-size: 9px;
    }

    .bt1 h3,
    .bt2 h3,
    .bt3 h3,
    .bt4 h3 {
        padding: 0px 20px;
        display: flex;
        align-items: center;
    }
    .bt4 h3 {
        text-decoration: none;
        color: white;     
        justify-content: center;
        padding: 7px 0;
    }
    .bottomm .mmm .bt2 a {
        margin: 0 9px;
        position: relative;
        margin: auto;
    }
    .bottomm .mmm h3 {
        font-size: 15px;
    }
    .bottomm .mmm .bt1 h3 {
        position: relative;
        font-size: 15px;
        margin: 0 auto;
        right: 37px;
    }
    .qw i {
        padding: 9px 0;
    }
}