/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */


/* .uji {
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;

}


.uji .tittle{
    display: flex;
    justify-items: flex-end;
}
.uji .tittle .cthh{
    float: right;
}

.uji .tittle .cthh p{
    position: relative;
    display: inline-block;
    justify-content: flex-end;
} */

/* .abc{
    padding: 35px 0;
} */
.abc h3{
    padding: 30px 0;
    text-align: center;
    color: white;
}
